<!-- Колонка "Надо сделать" -->
<div class="task-list">
    <h5 class="task-list-head">
        <ion-icon name="list-outline" style="color: var(--warning-color)"></ion-icon>
        Надо сделать
        <div class="count badge text-bg-warning count">{{ tasks|selectattr("status.value", "equalto", "new")|list|length }}</div>
    </h5>
    <div id="new" data-id="new" class="task-list-dragdrop">
        {% for task in tasks if task.status.value == 'new'%}
            <div class="task" data-id="{{ task.platform_id }}">
                <div class="task-header">
                    <div class="d-flex justify-content-between align-items-start gap-3">
                        <a href="/tasks/{{ task.platform_id }}" style="text-decoration: none" class="task-title">
                            {{ task.title }}
                        </a>
                    </div>
                </div>
                <div class="task-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="task-platform-id">
                            <div class="priority-section">
                                {% set priority_badges = {
                                    'low': {'label': 'Низкий', 'class': 'bg-info'},
                                    'medium': {'label': 'Средний', 'class': 'bg-warning'},
                                    'high': {'label': 'Высокий', 'class': 'bg-danger'},
                                    'urgent': {'label': 'Срочный', 'class': 'bg-dark'}
                                } %}

                                {% if task.priority.value in priority_badges %}
                                    <span class="badge {{ priority_badges[task.priority.value].class }}">
                                        {{ priority_badges[task.priority.value].label }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="task-data d-flex align-items-center gap-3">
                            <span class="d-flex align-items-center gap-1"><ion-icon name="eye-outline"></ion-icon> {{ task.members }}</span>
                            <span class="d-flex align-items-center gap-1"><ion-icon name="chatbubbles-outline"></ion-icon> {{ task.comments }}</span>
                            <span class="d-flex align-items-center gap-1"><ion-icon name="document-attach-outline"></ion-icon> {{ task.files}}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if my == False %}
        {% if my_department and permission[1].create_task_for_own_department == 'true' %}
            <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#addTaskModal">
                <ion-icon name="add-outline"></ion-icon>
                <span>Добавить задачу</span>
            </button>
        {% else %}
            {% if permission[2].create_task_for_all_departments == 'true' %}
                <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#addTaskModal">
                    <ion-icon name="add-outline"></ion-icon>
                    <span>Добавить задачу</span>
                </button>
            {% endif %}
        {% endif %}
    {% else %}
        {% if permission[0].create_task_for_own == 'true' %}
            <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#addTaskModal">
                <ion-icon name="add-outline"></ion-icon>
                <span>Добавить задачу</span>
            </button>
        {% endif %}
    {% endif %}
</div>

<!-- Колонка "В работе" -->
<div class="task-list">
    <h5 class="task-list-head">
        <ion-icon name="time-outline" style=""></ion-icon>
        В работе
        <div class="count badge text-bg-info">{{ tasks|selectattr("status.value", "equalto", "in_progress")|list|length }}</div>
    </h5>
    <div id="in_progress" data-id="in_progress" class="task-list-dragdrop">
         {% for task in tasks if task.status.value == 'in_progress'%}
            <div class="task" data-id="{{ task.platform_id }}">
                <div class="task-header">
                    <div class="d-flex justify-content-between align-items-start gap-3">
                        <a href="/tasks/{{ task.platform_id }}" style="text-decoration: none" class="task-title">
                            {{ task.title }}
                        </a>
                    </div>
                </div>
                <div class="task-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="task-platform-id">
                            <div class="priority-section">
                                {% set priority_badges = {
                                    'low': {'label': 'Низкий', 'class': 'bg-info'},
                                    'medium': {'label': 'Средний', 'class': 'bg-warning'},
                                    'high': {'label': 'Высокий', 'class': 'bg-danger'},
                                    'urgent': {'label': 'Срочный', 'class': 'bg-dark'}
                                } %}

                                {% if task.priority.value in priority_badges %}
                                    <span class="badge {{ priority_badges[task.priority.value].class }}">
                                        {{ priority_badges[task.priority.value].label }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="task-data d-flex align-items-center gap-3">
                            <span class="d-flex align-items-center gap-1"><ion-icon name="eye-outline"></ion-icon> {{ task.members }}</span>
                            <span class="d-flex align-items-center gap-1"><ion-icon name="chatbubbles-outline"></ion-icon> {{ task.comments }}</span>
                            <span class="d-flex align-items-center gap-1"><ion-icon name="document-attach-outline"></ion-icon> {{ task.files}}</span>
                        </div>
                    </div>
                </div>
            </div>
         {% endfor %}
    </div>
</div>

<!-- Колонка "На проверке" -->
<div class="task-list">
    <h5 class="task-list-head">
        <ion-icon name="eye-outline" style="color: var(--primary-color)"></ion-icon>
        На проверке
        <div class="count badge text-bg-primary">{{ tasks|selectattr("status.value", "equalto", "on_review")|list|length }}</div>
    </h5>
    <div id="on_review" data-id="on_review" class="task-list-dragdrop">
        {% for task in tasks if task.status.value == 'on_review'%}
            <div class="task" data-id="{{ task.platform_id }}">
                <div class="task-header">
                    <div class="d-flex justify-content-between align-items-start gap-3">
                        <a href="/tasks/{{ task.platform_id }}" style="text-decoration: none" class="task-title">
                            {{ task.title }}
                        </a>
                    </div>
                </div>
                <div class="task-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="task-platform-id">
                            <div class="priority-section">
                                {% set priority_badges = {
                                    'low': {'label': 'Низкий', 'class': 'bg-info'},
                                    'medium': {'label': 'Средний', 'class': 'bg-warning'},
                                    'high': {'label': 'Высокий', 'class': 'bg-danger'},
                                    'urgent': {'label': 'Срочный', 'class': 'bg-dark'}
                                } %}

                                {% if task.priority.value in priority_badges %}
                                    <span class="badge {{ priority_badges[task.priority.value].class }}">
                                        {{ priority_badges[task.priority.value].label }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="task-data d-flex align-items-center gap-3">
                            <span class="d-flex align-items-center gap-1"><ion-icon name="eye-outline"></ion-icon> {{ task.members }}</span>
                            <span class="d-flex align-items-center gap-1"><ion-icon name="chatbubbles-outline"></ion-icon> {{ task.comments }}</span>
                            <span class="d-flex align-items-center gap-1"><ion-icon name="document-attach-outline"></ion-icon> {{ task.files}}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Колонка "Готово" -->
<div class="task-list">
    <h5 class="task-list-head">
        <ion-icon name="checkmark-circle-outline" style="color: var(--success-color)"></ion-icon>
        Готово
        <div class="count badge text-bg-success">{{ tasks|selectattr("status.value", "equalto", "completed")|list|length }}</div>
    </h5>
    <div id="completed" data-id="completed" class="task-list-dragdrop">
        {% for task in tasks if task.status.value == 'completed'%}
            <div class="task" data-id="{{ task.platform_id }}">
                <div class="task-header">
                    <div class="d-flex justify-content-between align-items-start gap-3">
                        <a href="/tasks/{{ task.platform_id }}" style="text-decoration: none" class="task-title">
                            {{ task.title }}
                        </a>
                    </div>
                </div>
                <div class="task-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="task-platform-id">
                            <div class="priority-section">
                                {% set priority_badges = {
                                    'low': {'label': 'Низкий', 'class': 'bg-info'},
                                    'medium': {'label': 'Средний', 'class': 'bg-warning'},
                                    'high': {'label': 'Высокий', 'class': 'bg-danger'},
                                    'urgent': {'label': 'Срочный', 'class': 'bg-dark'}
                                } %}

                                {% if task.priority.value in priority_badges %}
                                    <span class="badge {{ priority_badges[task.priority.value].class }}">
                                        {{ priority_badges[task.priority.value].label }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="task-data d-flex align-items-center gap-3">
                            <span class="d-flex align-items-center gap-1"><ion-icon name="eye-outline"></ion-icon> {{ task.members }}</span>
                            <span class="d-flex align-items-center gap-1"><ion-icon name="chatbubbles-outline"></ion-icon> {{ task.comments }}</span>
                            <span class="d-flex align-items-center gap-1"><ion-icon name="document-attach-outline"></ion-icon> {{ task.files}}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Модальное окно добавления задачи -->
<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <form class="modal-content" id="addTaskForm" method="post" action="/api/tasks">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Добавить новую задачу</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <input type="hidden" name="department_id" value="{{ department_id }}">
                    <div class="mb-3">
                        <label for="taskTitle" class="form-label">Название задачи</label>
                        <input type="text" class="form-control" name="title" id="taskTitle" required>
                    </div>
                    <div class="mb-3">
                        <label for="taskDescription" class="form-label">Описание</label>
                        <textarea class="form-control" id="taskDescription" name="description" rows="3"></textarea>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="taskPriority" class="form-label">Приоритет</label>
                            <select class="form-select" name="priority" id="taskPriority">
                                <option value="low">Низкий</option>
                                <option value="medium">Средний</option>
                                <option value="high">Высокий</option>
                                <option value="urgent">Срочный</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="taskDeadline" class="form-label">Срок выполнения</label>
                            <input type="datetime-local" class="form-control" name="deadline" id="taskDeadline">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-primary" id="saveTaskBtn">Сохранить</button>
            </div>
        </form>
    </div>
</div>